<div id="<%= dom_id gestor %>">
  <p>
    <strong>Nombre:</strong>
    <%= gestor.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= gestor.descripcion %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= gestor.fecha_inicio %>
  </p>

  <p>
    <strong>Fecha termino:</strong>
    <%= gestor.fecha_termino %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= gestor.estado %>
  </p>

</div>
